# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Output de build
dist/
build/

# Logs
logs/
*.log
logs/**/*.log

# Sistema operativo / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Entorno de producción
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cobertura de pruebas
coverage/
*.lcov

# SWC (compilador)
.swcrc

# Archivos temporales
tmp/
temp/

# Archivos de dependencia de bloqueo
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de configuración personalizados
*.local
